.main-page {

    background-color: #fff;
    border-radius: 50px;
    padding: 50px 70px;
    width: 100%;

    &__title {
        font-weight: bold;
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }

    h4 {
        margin: 10px 0;
        text-align: justify;
    }

    p {
        text-align: justify;
        margin-bottom: 15px;
    }

    ul {
        // list-style-type: none;
        padding-left: 20px;

        li {
            font-size: 16x;
        }
    }

    h2 {
        text-align: center;
        margin: 30px 0;
    }

    h3 {
        margin: 10px 0;
    }

}

.span-title {
    display: block;
    margin: 10px 0;
}

.python-logo {
    float: left;
    margin-right: 20px;
}