.content-column {
    h1 {
        padding: 30px 0;
        text-align: center;
        color: #4F81BC;
    }
}

.test-btn {
    padding: 20px 0px;
    background-color: #4F81BC;
    font-size: 22px;
    color: white;
    width: 400px;
    text-align: center;
    align-self: center;
    margin-bottom: 20px;
    text-decoration: none;
}

iframe {
    align-self: center;
    margin-bottom: 20px;
}